﻿/*div*/
#content{
    width:350px;
    padding:10px;
    border:1px solid black;
    border-radius:6px;
}
    .page
    {
        display:none;
    }
    .page.active-page {
        display: block;
    }
/*/div*/
/*input*/
    input[type=text], input[type=password]{
        width:100%;
        margin: 5px 0;
        border-radius:3px;
        border:thin solid;
    }
/*/input*/
/*button*/
#complete, #next{
    float:right;
}

.nav-button{
    height:30px;
    border: thin solid;
    border-radius:3px;
    font-size:120%;
    margin:5px;
}
/*/button*/
/*p*/
#title{
    font-size: 150%;
    text-align:center;
}
.error{
    font-size:80%;
    color:red;
}
/*/p*/
label{
    display:block;
}
#subscrList{
    display:none;
}
/*table*/
table{
    margin: 10px 0;
    width: 100%;
    border:thin solid black;
    border-radius: 2px;
}
    tbody tr:nth-child(2n+1){
        background-color:beige;
    }
        td, th {
            padding:5px;
        }
/*/table*/
