﻿td{
    max-width:200px;
    padding:5px;
}
table{
    margin:5px;
}
tr:nth-child(2n):not(:nth-last-child(-n+2)){
    background-color:beige;
}

span input[type=submit], a{
    font-size: 120%;
    margin:5px;
}

