div.item-list
{	
	font-size: 125%;
}

ul.pager
{
	padding: 5px 0;
	list-style-type: none;
	background-color: #eeeeee;
	border-width: 0 0 thick 0;
	border-bottom-style: solid;
	border-color: #cccccc;
}

ul.pager li
{
	display: inline;
	padding: 5px 15px;
}

ul.pager a
{
	color: #800000;
	text-decoration: none;
}

li.first
{
	margin-left:30px;
}

li.pager-current
{	
	border-width: 0 0 thick 0;
	border-bottom-style: solid;
	border-color:#000000;
	background-color: #bbbbbb;
}
