﻿table {
    margin: 10px;
    border: 1px solid black;
}

table tr:nth-child(2n):not(:last-child):not(.selected-row){
    background-color:beige;
}
.output{
    font-weight:bold;
    font-size:110%;
}
.error{
    color:red;
}
input[type=button]{
    margin:5px;
}
table.list-table tr.selected-row{
    background-color:coral;
}
