﻿.item{
    display:inline-block;
    width:170px;
}
.item-image{
    width:150px;
    height:150px;
    margin:5px 10px;
}
.item-descr{
    white-space:nowrap;
    display:block;
    text-align:center;
    text-overflow:ellipsis;
    overflow:hidden;
}
.item-price{
    display:block;
    text-align:center;
    font-size:120%;
    color:forestgreen;
}
input[type=button], a{
    margin:10px;
    font-size:120%;
}

