span
{
	padding: 21px 1px 1px 10px;
	border: thin solid #000000;
	background-color: #ffffff;
	color: #000000;	
}
p
{
	font-size: 300%;
	font-family: verdana;
}
span#inner
{
	padding:20px 10px 0px 0px;	
	background-color: #000000;
	color: #ffffff;
	border-style: none;	
}