body
{	
	max-width: 470px;	
	max-height: 420px;
}
div
{
	overflow:auto;
	clear: both;	
}

button, body
{
	font-family: arial;
	font-size: 12px;
	font-weight: 600;
}

div.form
{
	background-color: #e9e9e9;
	border-radius: 4px;	
}

div.progress-list
{
	border-radius: 4px;
	margin: 0;
}

ul.progress
{
	list-style-type:none;
	border: 1px solid transparent;	
	border-radius: 4px;
	margin:0;
	padding: 0px 0;
	background: #629cd8;
	background: -webkit-gradient(linear, left top, left bottom, from(#81bae8), to(#4a84cb));
	background: -moz-linear-gradient(top,  #81bae8,  #4a84cb); 
        background-image: -o-linear-gradient(top,  #81bae8,  #4a84cb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bae8', 
            endColorstr='#4a84cb',GradientType=0);
}

ul.progress li
{
	display: table-cell;	
	padding: 0px 0;
}

div.item-content a
{
	margin: 3px;
	text-decoration: none;
	color: #1b4680;
}
.item-content a, .item-content span
{
	padding-top: 5px;
	vertical-align: middle;
}

div.item-content img
{	
	vertical-align: middle;
	padding: 7px 0;
	margin: 0px 2px;	
}	

li.progress-current
{	
	color: #ffffff;
	background: #4e87bf;
	background: -webkit-gradient(linear, left top, left bottom, from(#62a2d6), to(#3668a6));
	background: -moz-linear-gradient(top,  #62a2d6,  #3668a6); 
        background-image: -o-linear-gradient(top,  #62a2d6,  #3668a6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62a2d6', 
            endColorstr='#3668a6',GradientType=0);
}

.item-content
{
	float:left;
}

.progress-current:after, .progress-item:after
{	
	float: left;
	clear: none;
	content: ''; 
   	width:12px;
	height:39px;
}

.progress-current:after
{
        background-image: url("arrow1.png");
}

.progress-item:after
{		
        background-image: url("arrow2.png");
}

.progress-last:after
{
	width:0;
	background-image:none;
}

div.container
{
	padding:12px 16px 12px 12px;
}

div.current-title
{
	padding: 4px;
	float:left;
	font-size: 13px;
	font-weight: normal;
	color: #505050;
}

div.current-title img
{
	vertical-align: bottom;
}

div.presentation-buttons
{
	float:right;
	clear: right;	
}

div.left
{
	float: left;
	clear:left;		
}

div.image
{
	margin: 0px;
	padding:4px; 
}

div.img-button
{
	padding: 0px 4px 4px;
}

img.cocktail-photo
{
	width:100px;
	height:140px;
	border-style: solid;
	border-width: thin;	
	border-color: #8c969f;
	border-radius: 6px;
}

button.load-image
{
	width:102px;
	height:100%;
	margin:auto;
	padding:1px;		
}

button.grad-blue
{
	color: #ffffff;
	border-radius: 4px;
	padding: 1px 0;
	background-color: #66a0da;
	background: -webkit-gradient(linear, left top, left bottom, from(#79b3e3),to(#568fd1));
	background: -moz-linear-gradient(top,  #79b3e3,  #568fd1); 
        background-image: -o-linear-gradient(top,  #79b3e3,  #568fd1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79b3e3', 
            endColorstr='#568fd1',GradientType=0);
	border: thin solid transparent;
}

div.cocktail-descr
{
	magrin-left: 126px;
	padding: 0 4px;	
	clear : none;
}

div.recipe
{
	float:center;
	padding: 0 4px;	
}

.descr-input
{
	font-size: 11px;
	font-family: arial;
	color: #a6acb2;
	line-height: 28px;
	text-indent: 5px;	
	height: 28px;	
	border-style: solid;
	border-width: thin;	
	border-color: #8c969f;
	border-radius: 4px;
	-webkit-box-shadow:inset 0 0 4px #b9b9b9;
       	-moz-box-shadow:inset 0 0 4px #b9b9b9;
        box-shadow:inset 0 0 4px #b9b9b9;
	background: #ffffff;
	clear:both;
	margin: 4px 0;
	width: 100%;	
}

#descr-short
{
	height: 90px;
	resize: none;
}

#descr-recipe
{
	height:96px;
	resize: none;
}

div.bottom
{
	float:right;
}

button.next-button
{
	color: #ffffff;
	border-style: none;
	width:91px;
	height: 22px;
	text-align: left;
	text-indent: 2px;
	font-weight: normal;
	margin: 10px 0 2px;	
	background-image:url("arrow3.png");	
}

button#icons
{	
	border-radius: 4px 0 0 4px;
	margin-right:-3;	
}

button#listed
{
	border-radius: 0 4px 4px 0;
	margin-left:-3;
}

button.switch
{	
	border-style: solid;
	padding: 2px 8px;
	margin: 0;
}

button.non-selected
{
	border-style:solid;
	border-width: thin;
	border-color: transparent;	
	background-color: #659fd9;
	background: -webkit-gradient(linear, left top, left bottom, from(#84bbe7),to(#4c86cc));
	background: -moz-linear-gradient(top,  #84bbe7,  #4c86cc); 
        background-image: -o-linear-gradient(top,  #84bbe7,  #4c86cc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84bbe7', 
            endColorstr='#4c86cc',GradientType=0);
}

button.selected
{
	background-color: #e4e9ed;
	border-style: solid;
	border-width: thin;	
	border-color: #8c969f;
	-webkit-box-shadow:inset 1px 4px 9px -6px;
       	-moz-box-shadow:inset 1px 4px 9px -6px;
        box-shadow:inset 1px 4px 8px -6px;
}
